*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/*ESTILOS DEL HEADER*/

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav{
    margin-right: 18px;
}

nav ul{
    height: 60px;
    display: flex;
    align-items: center;
}

li > img {
    width: 17px;
}

li {
    display: inline-block;
    font-size: 1.3rem;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

li a{
    text-decoration: none;
    color: black;
}

.button_sign_in a{
    background-color: #4487f9;
    color: white;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 4%;
    border: 1px #2d78fa solid;
}

/*ESTILOS BARRA DE BUSQUEDA*/

.logo_content{
    display: flex;
    margin-top: 96px;
    justify-content: center;
    align-items: center;
}

.logo_content__logo{
    width: 272px;
    height: 92px;
}

.search_content{
    display: flex;
    margin: auto;
    margin-top: 27px;
    justify-content:space-between;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 584px;
    height: 46px;
}

.search_content:hover, .search_content:focus{
    box-shadow: 1px 1px 8px 1px rgb(228, 228, 228);
}

.search_content:focus{
    box-shadow: 2px 2px 6px rgb(228, 228, 228);
    border: none;
}

.search_content > input {
    flex: auto;
    border: none;
    font-size: 1.6rem;
}
.search_content > input:focus {
    border: none;
    outline: none;
}

.search_content__lupa{
    width: 30px;
    margin: 0px 10px;
}

.search_content__microfono{
    width: 38px;
    margin: 0px 10px;
}
/*ESTILOS BOTONES DE BUSQUEDA Y TEXTO*/

.buttons_content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
div > input[type=submit] {
    padding: 10px 20px;
    margin: 0px 5px;
    border: none;
    border-radius: 6%;
    font-size: 1.4rem;
    color: #3b3b3b;
    background-color: #f7fafb;
}

div > input[type=submit]:hover {
    box-shadow: 0px 0.5px 0px rgb(228, 228, 228);
    border: 0.5px solid #e2e2e2;
}

div > input[type=submit]:focus {
    outline-color: #2d78fa;
    outline-style:outset;
    border-radius: 6%;
}

.subtitulo_content{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 35px;
}

.subtitulo_content a{
    text-decoration: none;
    color: #3741a0;
}

